spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/supermarket_db
    username: supermarket_user
    password: supermarket_pass

  jpa:
    hibernate:
      ddl-auto: create-drop

logging:
  level:
    org.hibernate.SQL: INFO